@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  background: none;
  border: none;
  font: inherit;
}

/* header css */
body {
  width: 1110px;
  margin: auto;
  border-left: 1px solid rgba(0, 0, 0, 0.098);
  border-right: 1px solid rgba(0, 0, 0, 0.098);
}

/* header css start */
header {
  position: sticky;
  top: 0;
}
.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.198);
}
.logo h2 {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
.nav ul {
  display: flex;
  gap: 40px;
}
.nav ul li a {
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  font-weight: 700;
  color: #00000098;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 1.2rem;
}
.icon i {
  position: relative;
  top: 0.1rem;
}
.icon img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

/* header css end */

/*content css start  */
.container {
  padding: 2rem 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-container {
  gap: 1rem;
}
.left-container {
  flex: 1;
  padding: 0 1rem;
}
.top-image {
  flex: 1;
}
.top-image img {
  width: 30rem;
  height: auto;
  overflow: hidden;
  border-radius: 1.5rem;
  cursor: pointer;
}
.container-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-direction: row;
  gap: 1rem;
  padding-top: 2rem;
}
.container-image img:hover {
  cursor: pointer;
}
.container-image img {
  border: 1px solid red;
  box-shadow: 0px 0.1rem 0px 0.5rem rgba(0, 0, 0, 0.1);
  height: 5rem;
  width: 5rem;
  border-radius: 0.5rem;
}

.right-container {
  flex: 1;
  padding: 1rem;
}

.right-container h5 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #d87d4a;
}
.right-container h1 {
  font-weight: 900;
  font-size: 3rem;
  line-height: 3.5rem;
  color: #000000; /* identical to box height */
  margin: 1rem 0;
}
.right-container p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  color: #00000094;
  margin: 1rem 0;
}
.r-rate {
  margin: 2rem 0;
}

.r-rate .price {
  font-size: 1.3rem;
}
.r-rate .discount {
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  color: white;
  font-weight: 600;
  background: red;
  border-radius: 0.5rem;
  padding: 0.3rem;
  margin-left: 1rem;
}
.r-rate h4 {
  padding: 0.5rem 0;
}
.r-rate h4 del {
  font-weight: 500;
  font-size: 1rem;
  line-height: 19px;
  text-decoration-line: line-through;
  color: #000000;
}
.btn {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}
.btn span {
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  color: #000000;
}
.btn .count {
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  color: #000000;
}
.btn div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  /* padding: 0.5rem 0; */
}
.btn div .count {
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  color: #000000;
  margin: 0 1rem;

  border: 1px solid black;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  cursor: progressive;
}
.btn div .count-btn {
  background: #ffffff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
  background: #d87d4a;
  color: white;
  width: 2rem;
}
.btn .count-btn {
  background: #ffffff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}

.btn .btn-final {
  background: red;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  transition: ease-in-out 0.2s;
  border: 1px solid red;
  font-weight: 600;
}
.btn .btn-final:hover {
  color: red;
  background: white;
  border: 1px solid black;
}
/*content css end  */
